<div [@openClose]="isNotificationOpen ? 'open' : 'closed'" class="notify"  style="{{notificationStyle}}">
     <span>{{ notification }}</span>
</div>
<nav>
  <img src="assets/logo.png" height="50" /><a class="rulesTitle" onclick="document.getElementById('regulations').style.display = 'block'">Правила</a>
</nav>
<div id="regulations" class="sidebar ng-tns-c15-0 ng-trigger ng-trigger-sidenav" style="transform: translateX(0%); display: none;"><div _ngcontent-tog-c15="" class="openCloseButton ng-tns-c15-0"></div><div _ngcontent-tog-c15="" style="padding: 10px;" class="ng-tns-c15-0"><h3 _ngcontent-tog-c15="" style="cursor: pointer; font-family: RaifBold; font-size: 20px;" class="ng-tns-c15-0" onclick="document.getElementById('regulations').style.display = 'none'">&gt; Правила </h3><p class="rulesText">Таймаут<br> 2s<br><br>1. Объявление должно быть связано с темой недвижимости или Data Science <br>
  2. Рисуем в пределах забора (желтое поле)<br>
  3. Объявление не должно занимать более 5% от всего забора <br>
  4. Не забывайте подписывать свои творения, чтобы мы могли идентифицировать вас<br>
  
  Победителя выберем глосованием в общем чате во время хакатона<br></p></div></div>
<router-outlet></router-outlet>


<!-- 255 254 251 -->