<div [@openClose]="isNotificationOpen ? 'open' : 'closed'" class="notify"  style="{{notificationStyle}}">
     <span>{{ notification }}</span>
</div>
<nav>
  РАЙФАЙЗЕН ХАКАТОН<a style="margin-left: 16px; color: blue; cursor: pointer;" onclick="document.getElementById('regulations').style.display = 'block'">ПРАВИЛА</a>
</nav>
<div id="regulations" class="sidebar ng-tns-c15-0 ng-trigger ng-trigger-sidenav" style="transform: translateX(0%); display: none;"><div _ngcontent-tog-c15="" class="openCloseButton ng-tns-c15-0"></div><div _ngcontent-tog-c15="" style="padding: 10px;" class="ng-tns-c15-0"><h3 _ngcontent-tog-c15="" style="cursor: pointer;" class="ng-tns-c15-0" onclick="document.getElementById('regulations').style.display = 'none'">&gt; Горячие клавиши </h3><br _ngcontent-tog-c15="" class="ng-tns-c15-0"> "s"-"b" - масштаб <br _ngcontent-tog-c15="" class="ng-tns-c15-0"> "f"-пипетка <br _ngcontent-tog-c15="" class="ng-tns-c15-0"> "b"-заливка <br _ngcontent-tog-c15="" class="ng-tns-c15-0"> "↑" "↓" "→" "←" - навигация <h3 _ngcontent-tog-c15="" class="ng-tns-c15-0">Таймаут</h3> 2s</div></div>
<router-outlet></router-outlet>
